html, body, header, nav, h1, a,
 ul, li, strong, main, button, i,
 section, img, div, h2, p, form,
 fieldset, label, input, textarea,
 span, article, footer, time, small {
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
   font: inherit;
   color: inherit;
   text-align: inherit;
   text-decoration: inherit;
   vertical-align: inherit;
   box-sizing: inherit;
   background: transparent;
 }

 ul {
   list-style: none;
 }

body {
  background-color: #F8E12C;
}
.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3F3F3F;
  padding: auto;
  height: 50px;
}

.banner_text {
  color: #FFFFFF;
  font-size: 12px;
  margin: auto 20px;
}

.banner_button {
  color: #FFFFFF;
  margin: auto 20px;
  background-image: url(assets/button_orange.png);
  background-size: 100%;
  height: 30px;
  min-width: 138px;
  padding-left: 30px;
  padding-right: 20px;
  font-size: 10px;
}

.header{
  display: block;
  height: 40px;
  max-width: 800px;
  margin: 0 auto;
}

.header_button_container {
  float: right;
  display flex;
  justify-content: center;
  align-content: center;
  height: 40px;
}

.header_button {
  font-size: 10px;
  color: #999;
  margin: 13px 10px;
}

.title {
  text-align: center;
  font-size: 20px;
  margin-top: 40px;
}

.block_info_container {
  margin: 40px auto;
  width: auto;
  display: flex;
  justify-content: center;
}

.block_info_box {
  width: 200px;
  height: 100px;
  background-color: white;
  margin: 5px;
}
